*elc
*~
.yas-compiled-snippets.el
/elpa
/history
/server
/url/cookies
ac-comphist.dat
semanticdb
ede-projects.el
site-lisp/nxhtml/etc/schema/xhtml-loader.rnc
/irony
/projectile-bookmarks.eld
transient/history.el
