[submodule "rc/snippets/java-mode"]
	path = rc/snippets/java-mode
	url = ssh://git@github.com/nekop/yasnippet-java-mode
[submodule "site-lisp/asciidoc-el"]
	path = site-lisp/asciidoc-el
	url = ssh://git@github.com/metaperl/asciidoc-el
