[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = ssh://git@github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/markdown-mode-plus"]
	path = site-lisp/markdown-mode-plus
	url = ssh://git@github.com/milkypostman/markdown-mode-plus.git
[submodule "site-lisp/undo-tree"]
	path = site-lisp/undo-tree
	url = ssh://git@github.com/emacsmirror/undo-tree.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = ssh://git@github.com/defunkt/markdown-mode.git
[submodule "rc/snippets/java-mode"]
	path = rc/snippets/java-mode
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "site-lisp/asciidoc-el"]
	path = site-lisp/asciidoc-el
	url = ssh://git@github.com/lollinus/asciidoc-el
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = ssh://git@github.com/haskell/haskell-mode
